<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vakyadarpan</title>
    <link rel = "stylesheet" href = "/static/styles.css">
</head>
<body>
    <!-- TOP BANNER -->
    <div class="top-banner">
        <div class="container">
            <div class="small-bold-text banner-text">🏆 Vakyadarpan has qualified round 1 of Microsoft Imagine Cup!! 🚀</div>
        </div>
    </div>
    <!-- NAVIGATION BAR-->
    <nav>
        <div class="container main-nav flex">
            <a href = "#" class = "company-logo">
                <img src = "/static/assets/anukriti-logo.png" alt = "company-logo">
            </a>
            <div class="nav-links">
                <ul class = "flex">
                    <li><a href="#" class = "hover-link">Home</a></li>
                    <li><a href="#" class = "hover-link">About Us</a></li>
                    <li><a href="/templates/generate-video-page.html" class = "hover-link">Generate Video</a></li>
                    <li><a href="#" class = "hover-link">Use Cases</a></li>
                    <li><a href="#" class = "hover-link secondary-button">Sign Up</a></li>
                    <li><a href="#" class = "hover-link primary-button">Sign in</a></li>
                </ul>
            </div>
        </div>
    </nav> 
    <!-- HERO SECTION-->
    <header>
        <div class="container header-section flex">
            <div class="header-left">
                <h1>Revolutionizing the world with Generative AI!</h1>
                <p>Vakyadarpan is a text-to-video application capable of converting any press release pdf to a impactful news video across 13 Indian languages.</p>
                <a href = "#" class = "primary-button get-started-button">Get Started</a>
            </div>
            <div class="header-right">
                <img src = "/static/assets/img05.jpg" alt= "hero image">
            </div>
        </div>
    </header>
    <!-- COMPANIES SECTION-->
    <section class="companies-section">
        <div class="container">
            <div class="small-bold-text companies-header">Vakyadarpan is an open-source text-to-video application built with support and services of</div>
            <div class="logos flex">
                <img class ="logo" src="/static/assets/Microsoft-Azure-Logo.jpg" alt="">
                <img class ="logo" src="/static/assets/imagine-cup-logo.jpg" alt="">
                <img class ="logo" src="/static/assets/founders-hub-logo.jpg" alt="">
                <img class ="logo" src="/static/assets/aidc-logo.png" alt="">
                <img class ="logo" src="/static/assets/python logo.jpg" alt="">
                <img class ="logo" src="/static/assets/openai-logo.png" alt="">
                <img class ="logo" src="/static/assets/serp-api logo.png" alt="">
                <img class ="logo" src="/static/assets/tensorflow-logo.png" alt="">
            </div>
        </div>
    </section>
    <!-- FEATURES SECTION-->
    <section class="features-section">
        <div class="container">
            <div class="features-header">
                <h2 class = "features-heading-text">From text to masterpiece: Game-changing features of <b>VAKYADARPAN 5.0</b></h2>
                <a href="" class = "secondary-button">See all features <i class="fa-solid fa-right-long"></i></a>
            </div>
            <div class="features-area flex">
                <div class="features-card">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="big-feature-section"></section>
    <section class="big-feature-section"></section>
    <section class="big-feature-section"></section>
    <section class = "examples-section"></section>
    <section class = "cta-section"></section>
    <footer></footer>
    <div class="sub-footer"></div>
    <div class="spacer" style = "height:100vh;"></div>
    <script src="https://kit.fontawesome.com/ce4baceeeb.js" crossorigin="anonymous"></script>
</body>
</html>