<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vakyadarpan</title>
    <link rel = "stylesheet" href = "/static/styles.css">
</head>
<body>
    <!-- TOP BANNER -->
    <div class="top-banner">
        <div class="container">
            <div class="small-bold-text banner-text">🏆 Vakyadarpan has qualified round 1 of Microsoft Imagine Cup!! 🚀</div>
        </div>
    </div>
    <!-- NAVIGATION BAR-->
    <nav>
        <div class="container main-nav flex">
            <a href = "#" class = "company-logo">
                <img src = "/static/assets/anukriti-logo.png" alt = "company-logo">
            </a>
            <div class="nav-links">
                <ul class = "flex">
                    <li><a href="#" class = "hover-link">Home</a></li>
                    <li><a href="#" class = "hover-link">About Us</a></li>
                    <li><a href="/templates/generate-video-page.html" class = "hover-link">Generate Video</a></li>
                    <li><a href="#" class = "hover-link">Use Cases</a></li>
                    <li><a href="#" class = "hover-link secondary-button">Sign Up</a></li>
                    <li><a href="#" class = "hover-link primary-button">Sign in</a></li>
                </ul>
            </div>
        </div>
    </nav> 
    <!-- HERO SECTION-->
    <header>
        <div class="container header-section flex">
            <div class="header-left">
                <h1>Revolutionizing the world with Generative AI!</h1>
                <p>Vakyadarpan is a text-to-video application capable of converting any press release pdf to a impactful news video across 13 Indian languages.</p>
                <a href = "#" class = "primary-button get-started-button">Get Started</a>
            </div>
            <div class="header-right">
                <img src = "/static/assets/img05.jpg" alt= "hero image">
            </div>
        </div>
    </header>
    <!-- COMPANIES SECTION-->
    <section class="companies-section">
        <div class="container">
            <div class="small-bold-text companies-header">Vakyadarpan is an open-source text-to-video application built with support and services of</div>
            <div class="logos flex">
                <img class ="logo" src="/static/assets/Microsoft-Azure-Logo.jpg" alt="">
                <img class ="logo" src="/static/assets/imagine-cup-logo.jpg" alt="">
                <img class ="logo" src="/static/assets/founders-hub-logo.jpg" alt="">
                <img class ="logo" src="/static/assets/aidc-logo.png" alt="">
                <img class ="logo" src="/static/assets/python logo.jpg" alt="">
                <img class ="logo" src="/static/assets/openai-logo.png" alt="">
                <img class ="logo" src="/static/assets/serp-api logo.png" alt="">
                <img class ="logo" src="/static/assets/tensorflow-logo.png" alt="">
            </div>
        </div>
    </section>
    <!-- FEATURES SECTION-->
    <section class="features-section">
        <div class="container">
            <div class="features-header">
                <h2 class = "features-heading-text">From text to masterpiece: Game-changing features of <b>VAKYADARPAN 5.0</b></h2>
                <a href="#" class = "secondary-button">See all features <i class="fa-solid fa-right-long"></i></a>
            </div>
            <div class="features-area flex">
                <div class="features-card flex">
                    <img  class = "svg-format" src="/static/assets/pointer.svg" alt="">
                    <h3>Complete automation</h3>
                    <p>Create your customized news video in 1 click</p>
                    <a href="#" class = "secondary-button">Learn More <i class="fa-solid fa-right-long"></i></a>
                </div>
                <div class="features-card flex">
                    <img  class = "svg-format" src="/static/assets/news-reporter.svg" alt="">
                    <h3>Anchor customizations</h3>
                    <p>Choose the face and gender of your custom anchor!</p>
                    <a href="#" class = "secondary-button">Learn More <i class="fa-solid fa-right-long"></i></a>
                </div>
                <div class="features-card flex">
                    <img  class = "svg-format" src="/static/assets/globe.svg" alt="">
                    <h3>18+ Languages Support</h3>
                    <p>Can create the news video in 18+ languages across the world</p>
                    <a href="#" class = "secondary-button">Learn More <i class="fa-solid fa-right-long"></i></a>
                </div>
                <div class="features-card flex">
                    <img  class = "svg-format" src="/static/assets/subtitles.svg" alt="">
                    <h3>Subtitles</h3>
                    <p>Get the subtitles with each video to make understanding easier</p>
                    <a href="#" class = "secondary-button">Learn More <i class="fa-solid fa-right-long"></i></a>
                </div>
                <div class="features-card flex">
                    <img  class = "svg-format" src="/static/assets/link-circle.svg" alt="">
                    <h3>One App, all set!</h3>
                    <p>Create,store, manage and share projects from a single website</p>
                    <a href="#" class = "secondary-button">Learn More <i class="fa-solid fa-right-long"></i></a>
                </div>
                <div class="features-card flex">
                    <img  class = "svg-format" src="/static/assets/file-format.svg" alt="">
                    <h3>File formats</h3>
                    <p>We support video creation in mp4. mov, wmv and avi file formats</p>
                    <a href="#" class = "secondary-button">Learn More <i class="fa-solid fa-right-long"></i></a>
                </div>
            </div>
        </div>
    </section>
    <!-- BIG FEATURE SECTION-->
    <section class="big-feature-section">
        <div class="container">
            <div class="features-header">
                <h2 class = "features-heading-text">Get everything done in just 5 steps from <br><b>VAKYADARPAN 5.0</b></h2>
            </div>
        </div>
        <div class="container flex big-feature-container">
            <div class="feature-img">
                <img src="/static/assets/img04.jpg" alt="">
            </div>
            <div class="feature-desc flex">
                <h3>STEP 1: Upload the pdf</h3>
                <p>In step 1, click on upload PDF button and select the pdf. Hit Enter and you are done with step 1!</p>
                <a href="https://pib.gov.in/allRel.aspx" class = "secondary-button">Press release examples <i class="fa-solid fa-right-long"></i></a>
            </div>
        </div>
        <div class="container flex big-feature-container">
            <div class="feature-desc flex">
                <h3>STEP 2: Customize news anchor</h3>
                <p>In the second step, provide details such as gender of the anchor. You can also input your image as well to be an anchor in the video!!</p>
            </div>
            <div class="feature-img2">
                <img src="/static/assets/news-anchor-image.jpg" alt="">
            </div>
        </div>
        <div class="container flex big-feature-container">
            <div class="feature-img2">
                <img src="/static/assets/translation.png" alt="">
            </div>
            <div class="feature-desc flex">
                <h3>STEP 3: Select the Languages</h3>
                <p>We currently support 18 different languages, more languages to be added soon!!</p>
                <div class="secondary-button flex">
                    <label>Supported Languages: </label>
                        <select name="dog-names" id="dog-names"> 
                            <option>English</option> 
                            <option>French</option> 
                            <option>Spanish</option> 
                            <option>German</option>
                            <option>Russian</option>
                            <option>Hindi</option>
                            <option>Bengali</option>
                            <option>Tamil</option>
                            <option>Telugu</option>
                            <option>Marathi</option>
                            <option>Kannada</option>
                            <option>Gujarati</option>
                            <option>Malayalam</option>
                            <option>Udia</option>
                            <option>Punjabi</option>
                            <option>Assamese</option>
                            <option>Urdu</option>
                            <option>Manipuri</option>
                        </select>
                </div>
            </div>
        </div>
        <div class="container flex big-feature-container">
            <div class="feature-desc2 flex">
                <h3>STEP 4: Select the file format</h3>
                <p>We currently support 4 different output file formats.</p>
                <div class="secondary-button flex">
                    <label>Supported formats: </label>
                        <select name="dog-names" id="dog-names"> 
                            <option>mp4</option> 
                            <option>mov</option> 
                            <option>avi</option> 
                            <option>wmv</option>
                        </select>
                </div>
            </div>
            <div class="feature-img2">
                <img src="/static/assets/video.png" alt="">
            </div>
        </div>
        <div class="container flex big-feature-container">
            <div class="feature-img3">
                <img src="/static/assets/pointer.svg" alt="">
            </div>
            <div class="feature-desc3 flex">
                <h3>STEP 5: Click on Generate video!</h3>
                <p>Finally the wait for news video ends!!</p>
                <a href="generate-video-page.html" class = "primary-button">Generate video now! <i class="fa-solid fa-right-long"></i></a>
            </div>
        </div>
    </section>
    <section class="big-feature-section"></section>
    <section class="big-feature-section"></section>
    <section class = "examples-section"></section>
    <section class = "cta-section"></section>
    <footer></footer>
    <div class="sub-footer"></div>
    <div class="spacer" style = "height:100vh;"></div>
    <script src="https://kit.fontawesome.com/ce4baceeeb.js" crossorigin="anonymous"></script>
</body>
</html>